<mat-toolbar color="primary">
    <span>Angular with Module Federation</span>
</mat-toolbar>
<mat-sidenav-container class="app-modules__content">
    <mat-sidenav mode="side" opened class="app-modules__content-lhs">
        <mat-nav-list>
            <mat-list-item routerLink="">Home</mat-list-item>
            <mat-list-item routerLink="users">Users</mat-list-item>
            <mat-list-item routerLink="products">Products</mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-card appearance="outlined" class="app-modules__content-rhs">
            <mat-card-content class="app-modules__content">
                <router-outlet />
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>